:root{
    font-size: 62.5%;
}

body{
    font-family:"Muli", Arial, Helvetica, sans-serif;
    font-weight:600;
    font-size:12px;
}


a {
  font-size:20px;
  font-weight:900;  
  text-transform:uppercase;
  text-align:center;
  text-decoration:none;
  border: 2px solid black;
  padding: 10px 25px;
  margin:5px;
}

.container{
    width:1000px;
    display:flex;
    padding:30px;
    margin:5px;
    flex:1;
    font-size:30px;
    text-align:center;
}


.container p {
    font-size:25px;
    color:#8c8c8c;
    text-align:center;
    width:500px;
    padding:20px 100px;
}

#rating {
    color:#8c8c8c;
    font-size:25px;
    word-spacing:15px;
    font-weight:600;
    padding:20px;
}

.fa-star {
    color: #ffc34d;
    font-size:20px;

}
.fa-heart {
    color: #e6e6e6;
}

.box2 .fa-heart {
    color:red

}

a:first-child {
    background:#000000;
    color:#ffffff;
}

a:last-child {
    background:#ffffff;
    color:#000000;
}

